<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>book_view</title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/book_view.css" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="width:102% ;padding-bottom: 2px; padding-right: 32px">
        <a href="#" class="navbar-brand" style="padding-left: 3rem; font-size:medium ;">Book Ninja</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu" style="padding-right: 30px;">
            <ul class="navbar-nav ml-auto" style="padding-left: 4rem; font-size:smaller;">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Log out</a>
              </li>
            </ul>
        </div>

    </nav>

    <div class="container">

        <div class="row">
    
          <!-- Post Content Column -->
          <div class="col-lg-8">
    
            <!-- Title -->
            <h1 class="mt-4"><%= details.title%></h1>
    
            <!-- Author -->
            <p class="lead">
              by
              <a href="#"><%= details.author_name%></a>
            </p>
    
    
            <!-- Date/Time -->
            <p>Published on <%= details.pub_date%></p>

            <!-- This is the part for giving access to js file -->
            <p class="sr-only" id="Rating_integer_FROM_BACKEND_with_ejs"><%= details.avg_rating%></p>
            <p class="sr-only" id="book_id"><%= details.book_id%></p>
            <p class="sr-only" id="commentators_ids_and_reviews">OBJECT_OF_ARRAY_OF_All_commentators(With_their_ids)_their_reviews_and_their_ratings</p>
            <p class="sr-only" id="user_id"><%=user_id%></p>
            
            <!-- trying a for loop similar to the one in shelf_view.ejs to do the javascript of the // not now-->
            


            <h3 class="book_avg_rat_star"></h3>
            <h5><span class="text-muted textFor_book_avg_rating_number_result">Average Rating : <%=details.avg_rating%></span></h5>
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1579036753l/77203._SY475_.jpg" alt="">
    
            
            <hr>
    
            <!-- Post Content -->
            <p class="lead">Description</p>
    
            <p><%= details.description%></p>
    
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
     -->
            <!-- <blockquote class="blockquote">
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">Someone famous in
                <cite title="Source Title">Source Title</cite>
              </footer>
            </blockquote> -->
            <hr>
    
            <!-- Comments Form -->
            <% if (can_review) {%>
            <div class="card my-4">
                
              <h5 class="card-header">Leave a review:
                  
                <ul class="rating">
                    <li class="rating-item active" data-rate="1"></li>
                    <li class="rating-item" data-rate="2"></li>
                    <li class="rating-item" data-rate="3"></li>
                    <li class="rating-item" data-rate="4"></li>
                    <li class="rating-item" data-rate="5"></li>
                    </ul>
                    <!-- <span class="text-muted" style=" margin:0 10px;" id=book_rating_stars>4 Stars</span> -->
                 </h5>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <textarea class="form-control" rows="3" id="my_book_review_text"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary" id="button_submit_my_review">Submit</button>
                </form>
              </div>
            </div>
            <% }%>
    
            <!-- Reviews -->
            <% for(var i=0; i<reviews.length; i++) { %>
            <div class="media mb-4" style="margin-top: 3rem;">
              <img class="d-flex mr-3 rounded-circle" style="height: 50px;
              width: 50px;" src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Robot-512.png" alt="">
              <div class="media-body">
                <h5 class="mt-0" style="color: solid black; font-weight: 600;"><%=reviews[i].user_name%><span style="float: right;" class="reviewers_stars_rat">★ ★ ★ ★ ☆</span></h5>
                <%=reviews[i].review_content%>
              </div>
            </div>
            <%}%>
    
    
          </div>
    
          <!-- Sidebar Widgets Column -->
          <div class="col-md-4">
    
            <!-- Search Widget -->
            <div class="card my-4">
              <h5 class="card-header">Search</h5>
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-append">
                    <button class="btn btn-secondary" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div>
    

            <!-- Categories Widget -->
            <div class="card my-4">
              <h5 class="card-header">Genre</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="#"><%=details.genre%></a>
                      </li>
                     
                    </ul>
                  </div>
                  <!-- <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="#">JavaScript</a>
                      </li>
                      <li>
                        <a href="#">CSS</a>
                      </li>
                      <li>
                        <a href="#">Tutorials</a>
                      </li>
                    </ul>
                  </div> -->


                </div>
              </div>
            </div>
    
            <!-- Side Widget -->
            <!-- <div class="card my-4">
              <h5 class="card-header">Side Widget</h5>
              <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
              </div>
            </div> -->
    
          </div>
    
        </div>
        <!-- /.row -->
    
      </div>
   
      
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javaScript" src="/public/assets/book_view.js"></script>
</body>

</html>