<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Account Page</title>

  <!-- Bootstrap core CSS -->
  <link href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/public/assets/css/blog-post.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/assets/user_profile_styles.css" type="text/css">


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="F:\startbootstrap-shop-homepage-gh-pages\index.html">Book Ninja</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" id="home_btn">Home
              <!-- <span class="sr-only">(current)</span> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" id="about_btn">profile</a>
          </li>
          <li class="nav-item" id="logout_btn">
            <a class="nav-link" href="#" id = "logout">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <!-- Page Content -->
  <div class="container-fluid">

    <!--First row (only row)-->
    <div class="row extra_margin">

      <!-- First column (smaller of the two). Will appear on the left on desktop and on the top on mobile. -->
      <div class="col-md-4 col-sm-12 col-xs-12">

        <!-- Div to center the header image/name/social buttons -->
        <div class="text-center">

          <!-- Placeholder image using Placeholder.com -->
          <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" class="img-rounded" />

          <!-- Header text (Person's name) -->
      
          <h2>
            <%=user_details.user.user_name%> <a href="#" id="button_for_edit_name"><span class = "badge bg-dark" >Edit</span></a>
          </h2>

          <!-- Social buttons using anchor elements and btn-primary class to style -->
          <p>
            <a class="btn btn-primary btn-xs" href="#" role="button">Followers<br>
              <%=user_details.user.num_followers%>
            </a>
            <a class="btn btn-primary btn-xs" href="#" role="button">Following<br>
              <%=user_details.user.num_following%>
            </a>
          </p>

        </div>

      </div> <!-- End Col 1 -->

      <!-- Second column - for small and extra-small screens, will use whatever # cols is available -->
      <div class="col-md-8 col-sm-* col-xs-*">

        <!-- "Lead" text at top of column. -->
        <p style="font-weight: bold; font-size: 1.75rem" class="lead">Bio
          <a style="float: right" href="#" class="btn btn-dark edit_bio" id=<%=user_details.user.user_id%>>Edit</a>
        </p>

        <!-- Horizontal rule to add some spacing between the "lead" and body text -->
        <hr />

        <!-- Body text (paragraph 2) -->

        <div id="bio_feild">
          <%=user_details.user.user_bio%>
        </div>


        <!-- Bcak-end values stored here  -->
        <p class="sr-only" id="user_id">
          <%=user_details.user.user_id%>
        </p>
       
        <p class = "sr-only" id="user_name">
          <%=user_details.user.user_name%>
        </p>
        




        <h3>Shelf List</h3>

        <!-- Scrollable modal -->
        <button type="button" class="btn btn-primary btn-add-shelf">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
            viewBox="0 0 16 16">
            <path
              d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg> Add Shelf
        </button>
        <br><br>

        <!-- pop_up_add_to_shelf-->
        <div class="modal fade show" id="popup_for_adding" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
          style="display: none; padding-right: 17px;" aria-modal="true" role="dialog">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Add Shelf</h5>
                <button type="button" class="btn btn-secondary close_popup" data-bs-dismiss="modal" aria-label="Close">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                  </svg>
                </button>
              </div>
              <div class="modal-body">


                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter Shelf Name:</label>
                    <input type="text" class="form-control" id="shelf_name">
                    <!-- <div id="emailHelp" class="form-text"></div> -->
                  </div>
                  <!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div> -->
                  <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
                  <button type="submit" class="btn btn-primary" id="submit_shelf">Submit</button>
                  <button type="button" class="btn btn-secondary close_popup">Close</button>
                </form>


              </div>
              <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary close_popup" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
            </div>
          </div>
        </div>

        <!-- pop_up add to shelf end-->

<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

        <!-- popup for editing name -->


        <div class="modal fade show" id="popup_edit_name" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
          style="display: none; padding-right: 17px;" aria-modal="true" role="dialog">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Your Username</h5>
                <button type="button" class="btn btn-secondary close_popup_name" data-bs-dismiss="modal"
                  aria-label="Close">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                  </svg>
                </button>
              </div>
              <div class="modal-body">


                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter Your New Username:</label>
                    <input type="text" class="form-control" id="new_name">
                    <!-- <div id="emailHelp" class="form-text"></div> -->
                  </div>
                  <!-- <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div> -->
                  <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
                  <button type="submit" class="btn btn-primary" id="submit_name">Submit</button>
                  <button type="button" class="btn btn-secondary close_popup_name">Close</button>
                </form>


              </div>
              <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary close_popup" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
            </div>
          </div>
        </div>




        <!--popup for editing name end -->
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

        <!-- popup for adding to bio -->
        <div class="modal fade show" id="popup_bio" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
          style="display: none; padding-right: 17px;" aria-modal="true" role="dialog">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Your Bio</h5>
                <button type="button" class="btn btn-secondary close_popup_bio" data-bs-dismiss="modal"
                  aria-label="Close">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                  </svg>
                </button>
              </div>
              <div class="modal-body">


                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter Your New Bio:</label>
                    <input type="text" class="form-control" id="new_bio">
                    <!-- <div id="emailHelp" class="form-text"></div> -->
                  </div>
                  <!-- <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div> -->
                  <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
                  <button type="submit" class="btn btn-primary" id="submit_bio">Submit</button>
                  <button type="button" class="btn btn-secondary close_popup_bio">Close</button>
                </form>


              </div>
              <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary close_popup" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
            </div>
          </div>
        </div>

        <!-- popup bio ends here -->


        <!-- pop_up go to shelf-->

        <div class="modal fade show" id="pop_up_for_go_to_shelf" tabindex="-1"
          aria-labelledby="exampleModalScrollableTitle" style="display: none; padding-right: 17px;" aria-modal="true"
          role="dialog">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="shelf_name_for_pop_up_go_to_shelf">shelf_name</h5>


                <button type="button" class="btn-close close_popup_goToShelf" data-bs-dismiss="modal"
                  aria-label="Close">CLOSE</button>

              </div>

              <div class="modal-body">
                <p>pee pee poo poo</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger close_popup_goToShelf"
                  data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- pop_up go to shelf END-->



        <% for(var i=0; i < user_details.shelves.length; i++) { %>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    <%=user_details.shelves[i].shelf_name%>
                  </h5>
                  <p style="float: right;">

                    <!-- <p class="card-text"></p> -->
                    <a href="#" class="btn btn-danger delete_shelf" id=<%=user_details.shelves[i].shelf_id%>>Delete</a>
                  </p>
                  <a href="#" class="btn btn-warning btn_go_to_shelf" id=<%=user_details.shelves[i].shelf_name%> >Go to
                    shelf</a>
                </div>
              </div>
            </div>
          </div>
          <% } %>







      </div> <!-- End column 2 -->

    </div> <!-- End row 1 -->

  </div> <!-- End main container -->



  <!-- /.container -->

  <!-- Footer -->


  <!-- Bootstrap core JavaScript -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script> -->

  <!-- Bootstrap core JavaScript -->
  <script src="/public/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/public/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/public/assets/scrolling-nav.js"></script>



  <!-- change this later 
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  -->


  <script type="text/javascript" src="/public/assets/user_profile_script.js"> </script>

</body>

</html>